@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100svh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}

@media screen and (max-width: 700px) {
    #root {
        grid-template-columns: 0fr 1fr 0fr !important;
    }
}

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}